<!DOCTYPE html>
<html lang="es">
    <%- include('./../partials/head') %>
<body>
    <header>
        <%- include('../partials/header') %>
        <%- include('../partials/categoriesCarouselDesktop') %>
        <%- include('../partials/categoriesCarousel') %>
    </header>
    <div id="carritoYcheckbox">
        <div id="carritoListaYtotal" class="carritoListaYtotal" >
            <div class="productosEnCarrito">
                <div class="contenedorProducto">
                    <% products.forEach(product => { %>
                        <div class="carrito-item-descripcion">
                            <div class="imagenProductoCarrito">
                                <img src= "<%= product.product.image%>">
                            </div>
                            <div class="carrito-detallesProducto">
                                <!-- <p class="producto-detalle"> <%= product.product.brand%> </p> -->
                                <p class="producto-detalle"> <%= product.product.description%> </p>
                                <p class="producto-presentacion">  <%= product.product.display%></p>
                                <p class="precio-nuestro">  <%= product.product.price%> </p>
                                <!-- <p class="precio-competencia">  -->
                                <!-- <p class="producto-presentacion">  </p> -->
                                <div id="botones-superiorSKU=<%= product.product.id%>" class="ocultar">
                                    <button onclick="addSubtractRemoveQuantity(<%= product.product.id%>,'subtract')" id="subtractOneSku=<%= product.product.id%>" class="boton-sumarrestar ">-</button >
                                    <span id="quantitySku=<%= product.product.id%>" class="quantityProduct">0</span>
                                    <button onclick="addSubtractRemoveQuantity(<%= product.product.id%>,'add')" id="addOneSku=<%= product.product.id%>" class="boton-sumarrestar ">+</button >
                                </div>
                                <div id="botones-inferiorSKU=<%= product.product.id%>" class="mostrar" >
                                    <div onclick="addSubtractRemoveQuantity(<%= product.product.id%>,'create')" id="addCartSku=<%= product.product.id%>" class="boton-agregar" style="text-align: center;">Agregar</div >
                                </div>            
                            </div>
                        </div>
                        <div class="carrito-subtotalProducto">
                            <p>Subtotal:</p>
                            <p id="subtotalSku=<%= product.product.id%>" class="precio-nuestro"> <%= product.product.price * product.quantity%> </p>
                        </div>
                    <% }) %>
                </div>
            </div>
            
            <div class="detalleTotal-contenedor">
                <div class="detalleTotalTitulo">
                    <p class="detalle-del-precio-total">Detalle del precio</p>
                </div>
                <div class="subtotales">
                    <div class="subtotal">
                        <p>Subtotal</p>
                        <p id="subtotalAabonar" class="subtotalAabonar">$272,00</p>
                    </div>
                    <div class="gastosEnvio">
                        <p>Cargos de envío</p>
                        <p class="precio-nuestro" >Gratis</p>
                    </div>    
                </div>
                <div class="total-a-abonar">
                    <p>Total a abonar</p>
                    <p id="subtotalAabonar1" class="subtotalAabonar">$272,00</p>
                </div>
                <div class="ahorro-total">
                    <p>En esta compra ahorraste: <%= totalDiscount %></p>
                </div>
            </div>
            
            <div class="producto-agregar">Continuar</div> 
        </div>
    <!-- <div class="checkout">
        <p id="subtotalAabonar2" class="subtotalAabonar">$272,00</p>
        <div class="producto-agregar">Continuar</div> 
    </div> -->
</div>
    </div>
</body>
</html>