<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

<body>
    <header>
        <%- include('../partials/header') %>
        
    </header>
    <br>
<form style="max-width: 500px;" action="/productos/crear" method="POST" id='form-product' enctype="multipart/form-data"> 
    
    <!-- Error lanzado por frontend -->
        <div class="error-brand error-message text-danger"> 
        </div>
    <!-- FIN. Error lanzado por frontend -->
    <!-- Error lanzado por backend -->
    <% if (locals.errors && locals.errors.brand) { %>
        <div class="text-danger"> 
          <%= errors.brand.msg  %> 
        </div> 
        <% } %> 
        <!-- FIN. Error lanzado por backend -->
    <div>
        <label for="brand"> Marca</label>
        <input type="text" name='brand' id='brand'>
    </div>
    <!-- Error lanzado por frontend -->
        <div class="error-description error-message text-danger"> 
        </div>
    <!-- FIN. Error lanzado por frontend -->
    <!-- Error lanzado por backend -->
         <% if (locals.errors && locals.errors.description) { %>
            <div class="text-danger"> 
                <%= errors.description.msg  %> 
            </div> 
        <% } %> 
    <!-- FIN. Error lanzado por backend -->
    <div>
        <label for="description">Descripción</label>
        <input type="text" name="description" id='description'>
    </div>
    <div>
        <label for="display">Presentación</label>
        <input type="text" name="display">
    </div>
    <!-- Error lanzado por frontend -->
    <div class="error-image error-message text-danger"> 
    </div>
    <!-- FIN. Error lanzado por frontend -->
    <!-- Error lanzado por backend -->
    <% if (locals.errors && locals.errors.image) { %>
        <div class="text-danger"> 
            <%= errors.image.msg  %> 
        </div> 
        <% } %> 
    <!-- FIN. Error lanzado por backend -->
    <div>
        <label for="image">Imagen</label>
        <input type="file" accept=".jpg,.png,.jpeg,.gif" name="image" id='image'>
    </div>
    <div>
        <label for="price">Precio</label>
        <input type="number" name="price">
    </div>
    <div>
        <label for="discount">Descuento</label>
        <input type="number" name="discount">
    </div>
    <div>
        <label for="other_details">Otros detalles</label>
        <input type="text" name="other_details">
    </div>
    <div>
        <label for="category_id">Categoría</label>
        <input type="text" name="category_id">
    </div>
    <div>
        <label for="sub_category_id">Subcategoría</label>
        <input type="text" name="sub_category_id">
    </div>
    
    
    
    <button type="submit">Crear producto</button>


</form>
<script type="text/javascript" src="/js/formsValidatorsProducts.js"></script>
</body>
</html>