<!DOCTYPE html>
<html lang="es">
<%- include('./../partials/head') %>

<body>
    <div id="contenedorDetalleProducto" class="contenedorDetalleProducto">
        <div id="header-DetalleProducto">
            <div class="producto-favorito">&#9829</div>
            <div class="producto-imagen">
                <img src= "<%= product.image%>" >
            </div>
            <div class="producto-footer">
                <p class="producto-detalle"> <%= product.description%> &nbsp; &nbsp; <p class="producto-presentacion"> x <%= product.display%></p> </p>
            </div>
            
            <div class="producto-precios">
                <div class="precio-competencia"> <%= product.competitorPrice%> </div>
                <div class="precio-nuestro"> <%= product.price%> </div>
                <!-- <div class="producto-agregar">Agregar</div> -->
            </div>
        </div>
    </div>
</body>
</html>