<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <header>
        <%- include('../partials/header') %>
        <%- include('../partials/categoriesCarousel') %>
        <%- include('../partials/searcher') %>
    </header>
    Estoy en los productos de la categoria <%- parametros.id %> subcategoria <%- parametros.sub_id %>
</body>
</html>