<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <header>
        <%- include('../partials/header') %>
        <%- include('../partials/categoriesCarousel') %>

    </header>
    <div class="container-subcategorias">

        <div class="titulo-categoria"><%=categoryName%></div>
        
        <% subcategories.forEach(subcategory => { %>
            <a href="/categorias/<%=categoryPath%>/<%= subcategory[1]%>">
                <div class="subcategorias-container">
                    <%= subcategory[0]%>
                </div>
            </a>
        <% });%>
    </div>
</body>
</html>