<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <header>
        <%- include('../partials/header') %>
        <%- include('../partials/categoriesCarousel') %>
        <%- include('../partials/searcher') %>
    </header>
    <div class="container-subcategorias">
        <div class="titulo-categoria"><%=requestedCategory.nombreCategoria%></div>
        
        <% Object.keys(requestedCategory.subcategories).forEach(subcategory => { %>
            <a href="/categorias/<%=requestedCategory.ruta%>/<%= requestedCategory.subcategories[subcategory]%>">
                <div class="subcategorias-container">
                    <%= subcategory%>
                </div>
            </a>
        <% });%>
    </div>
</body>
</html>