<!DOCTYPE html>
<html lang="es">

  <%- include('./../partials/head') %>
  <body>
    <header>
      <%- include('../partials/header') %>
      <%- include('../partials/categoriesCarousel') %>
      <%- include('../partials/searcher') %>
    </header>
    <div class="contenedor">
      
        <div>
          <form action="login" method="POST" id="form-login">
            <!-- Error lanzado por backend -->
            <% if (locals.errors && locals.errors.email && (errors.email.value !== '')) { %>
              <div class="text-danger"> 
                <%= errors.email.msg  %> 
              </div> 
            <% } %> 
            <% if (locals.errors && locals.errors.password && (errors.password.value !== '')) { %>
              <div class="text-danger"> 
                <%= errors.password.msg  %> 
              </div> 
            <% } %> 
            <!-- FIN. Error lanzado por backend -->
            
              <!-- Error lanzado por frontend -->
              <div class="error-email error-message text-danger"> 
              </div>
            <!-- FIN. Error lanzado por frontend -->

              <div class="">
                <label for="email">Email</label>
                <input class="" type="text" name="email" id="email" placeholder="Correo electr칩nico" value="<%= locals.old && old.email ? old.email :''%>">
              </div>
              <!-- Error lanzado por backend -->
              <% if (locals.errors && locals.errors.email && (errors.email.value == '')) { %>
                <div class="text-danger"> 
                  <%= errors.email.msg  %> 
                </div> 
              <% } %>
              <!-- FIN. Error lanzado por backend --> 

              
              <div class="">
                <label for="password">Contrase침a</label>
                <input class="" type="password" name="password" id="password" placeholder="Contrase침a">
              </div>
              <!-- Error lanzado por backend -->
              <% if (locals.errors && locals.errors.password && (errors.password.value == '')) { %>
                <div class="text-danger"> 
                  <%= errors.password.msg  %> 
                </div> 
                <% } %> 
                <!-- FIN. Error lanzado por backend -->
                <!-- Error lanzado por frontend -->
                <div class="error-password error-message text-danger"> 
                </div> 
                <!-- FIN. Error lanzado por frontend -->
              <div class="">
                <label for="remember_user">
                  <input class="" type="checkbox" name="remember_user" id="remember_user">Recordar mi usuario
                </label>
              </div>
              <div>
                <button type="submit">Iniciar sesi칩n</button>
              </div>
          </form>
        </div>
      </div>
      <script type="text/javascript" src="/js/formsValidatorsLogin.js"></script>
  </body>
</html>
