<!DOCTYPE html>
<html lang="es">

  <%- include('./../partials/head') %>
  <body>
    <header>
      <%- include('../partials/header') %>
      <%- include('../partials/categoriesCarouselDesktop') %>
      <%- include('../partials/categoriesCarousel') %>
    </header>
    <div>
      <form class="form-reg-log" action="registro" method="POST" id="form-register">
            <div class="contenedor">
                <!--TITULO------------------------>
                <h1 class="titulo">Registrarse</h1>
              <div class="">
                <!-- <label for="email">Email</label> -->
                <input class="cajas" type="text" name="email" id="email" placeholder="Correo electrónico" value="<%= locals.old && old.email ? old.email :''%>" >
              </div>
              <!-- Error lanzado por frontend -->
              <div class="error-email error-message text-danger"> 
              </div>
              <!-- Error lanzado por backend -->
              <% if (locals.errors && errors.email) { %>
                <div class="text-danger"> 
                  <%= errors.email.msg  %> 
                </div> 
              <% } %> 

              <div class="">
                <!-- <label for="fullName">Nombre Completo</label> -->
                <input class="cajas" type="text" name="fullName" id="fullName" placeholder="Nombre Completo" value="<%= locals.old && old.fullName ? old.fullName :''%>">
              </div>

              <!-- Error lanzado por frontend -->
              <div class="error-fullName error-message text-danger"> 
              </div>
              <!-- Error lanzado por backend -->
              <% if (locals.errors && errors.fullName) { %>
                <div class="text-danger"> 
                  <%= errors.fullName.msg  %> 
                </div> 
              <% } %>

              <div class="">
                <!-- <label for="password">Contraseña</label> -->
                <input class="cajas" type="password" name="password" id="password" placeholder="Contraseña" value="<%= locals.old && old.password ? old.password :''%>">
              </div>

              <!-- Error lanzado por frontend -->
              <div class="error-password error-message text-danger"> 
              </div> 
              <!-- Error lanzado por backend -->
              <% if (locals.errors && errors.password) { %>
                <div class="error-password error-message text-danger"> 
                  <%= errors.password.msg  %> 
                </div> 
              <% } %>
              <div>
                <!--TERMINOS-Y-CONDICIONES---------------------------------------------------------------------------------->
              <p class="termino1"><input type="checkbox">&nbsp; Estoy de acuerdo con <a class="termino2" href="">Terminos y Condiciones</a></p>
                <button class="btn" type="submit">Registrarte</button>
                        <!--YA-TENGO-CUENTA----------------------------------------------------------->
              <p class="tengo-cuenta"><a href="/usuario/login" class="tengo-cuenta">Ya tengo cuenta</a></p>
              </div>
          </form>
        </div>
      </div>
      <script type="text/javascript" src="/js/formsValidatorsLogin.js"></script>
  </body>
</html>