<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

<body>
    <header>
        <%- include('../partials/header') %>
        
    </header>
    <br>
    <div>
        ID : <%= user.id %>
    </div>
    <div>
        Nombre: <%= user.name %>
    </div>
    <div>
        Email: <%= user.email %>
    </div>
    <div>
        Dirección: <%= user.address %>
    </div>
    <div>
        Teléfono: <%= user.phone %>
    </div>
</body>
</html>