<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <header>
    <%- include('partials/header') %>
    <%- include('partials/categoriesCarouselDesktop') %>
    </header>
    <div class="container">
        <div id="home-catalogo">
            <% categories.forEach(category => { %>
            <div id="catalogo-categoria">
                <div class="catalogo-header">
                    <div class="catalogo-header-titulo"><%= category.category%></div>
                    <a class="catalogo-header-vertodo" href="/categorias/<%=category.path%>"><div class="">Ver todo ></div></a>
                </div>
                <div class="catalogo-contenedor">
                    <% category.products.forEach(product => { %>
                    <div class="producto-contenedor margen-derecho">
                        <div class="producto-contenedor-secundario">
                            <div class="producto-header">
                                <div class="producto-descuento"><%= product.discount%></div>
                                <div class="producto-favorito"><i class="fas fa-heart"></i><!-- <i class="far fa-heart"></i> --></div>
                            </div>
                            <div class="producto-imagen">
                                <img src= <%= product.image%>.png >
                            </div>
                            <div class="producto-footer">
                                <div class="producto-titulo">
                                    <p class="producto-detalle"> <%= product.description%>
                                    <span class="producto-presentacion"> x <%= product.display%></span>
                                    </p>
                                </div>
                                <div class="producto-precios">
                                    <span class="precio-nuestro"> <%= product.price%>
                                    <span class="precio-competencia"> <%= product.price%> </span><!-- Cambiar a descuento -->
                                    </span>
                                </div>
                                <button onclick="addSubtractRemoveQuantity(<%= product.id%>,'subtract')" class="boton-sumarrestar">-</button >
                                <span id="quantitySku=<%= product.id%>">0</span>
                                <button onclick="addSubtractRemoveQuantity(<%= product.id%>,'add')" class="boton-sumarrestar">+</button >
                                <button onclick="addSubtractRemoveQuantity(<%= product.id%>,'create')" class="boton-agregar">Agregar</button >
                            </div>
                        </div>
                    </div>
                    <% });%>
                </div>
            </div>
            <% });%>
        </div>
    </div>
</body>
</html>