<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <content>
        <div id="home-catalogo">
            <% categories.forEach(categorie => { %>
            <div id="catalogo-categoria">
                <div class="catalogo-header">
                    <div class="catalogo-header-titulo"><%= categorie.nombreCategoria%></div>
                    <div class="catalogo-header-vertodo">Ver todo ></div>
                </div>
                <div class="catalogo-contenedor">
                    <% productos.forEach(producto => { %>
                    <div class="producto-contenedor">
                        <div class="producto-header">
                            <div class="producto-descuento"><%= producto.descuentoProducto%>
                            </div>
                            <div class="producto-favorito">&#9829
                            </div>
                        </div>
                        <div class="producto-imagen">
                            <img src= <%= producto.imagenProducto%> >
                        </div>
                        <div class="producto-footer">
                            <p class="producto-detalle"> <%= producto.descripcionProducto%> </p>
                        </div>
                        <p class="producto-presentacion"> x <%= producto.presentacionProducto%></p>
                    <div class="producto-precios">
                        <p class="precio-nuestro"> <%= producto.precioProducto%> </p>
                        <p class="precio-competencia"> <%= producto.precioCompetencia%> </p>
                    </div>
                        <div class="producto-agregar">Agregar</div>
                    </div>
                    <% });%>
                </div>
            </div>
        </div>
        <% });%>
    </content>
</body>
</html>