<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <content>
        <div id="home-catalogo">
            <% categories.forEach(categorie => { %>
            <div id="catalogo-categoria">
                <div class="catalogo-header">
                    <div class="catalogo-header-titulo"><%= categorie.nombreCategoria%></div>
                    <div class="catalogo-header-vertodo">Ver todo ></div>
                </div>
                <div class="catalogo-contenedor">
                    <% products.forEach(product => { %>
                    <div class="producto-contenedor">
                        <div class="producto-header">
                            <div class="producto-descuento"><%= product.descuento%>
                            </div>
                            <div class="producto-favorito">&#9829
                            </div>
                        </div>
                        <div class="producto-imagen">
                            <img src= <%= product.imagen%> >
                        </div>
                        <div class="producto-footer">
                            <p class="producto-detalle"> <%= product.descripcion%> </p>
                        </div>
                        <p class="producto-presentacion"> x <%= product.presentacion%></p>
                    <div class="producto-precios">
                        <p class="precio-nuestro"> <%= product.precio%> </p>
                        <p class="precio-competencia"> <%= product.precioCompetencia%> </p>
                    </div>
                        <div class="producto-agregar">Agregar</div>
                    </div>
                    <% });%>
                </div>
            </div>
        </div>
        <% });%>
    </content>
</body>
</html>