<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <header>
    <%- include('partials/header') %>
    <%- include('partials/categoriesCarousel') %>
    <%- include('partials/categoriesCarouselDesktop') %>
    </header>
    <div class="container">
        <div id="home-catalogo">
            <% categories.forEach(category => { %>
            <div id="catalogo-categoria">
                <div class="catalogo-header">
                    <div class="catalogo-header-titulo"><%= category.category%></div>
                    <a class="catalogo-header-vertodo" href="/categorias/<%=category.path%>"><div class="">Ver todo ></div></a>
                </div>
                <div class="catalogo-contenedor">
                    <% category.products.forEach(product => { %>
                    <div class="producto-contenedor margen-derecho">
                        <div class="producto-contenedor-secundario">
                            <div class="producto-header">
                                <div class="producto-descuento"><%= product.discount%></div>
                                <div class="producto-favorito"><i class="fas fa-heart"></i><!-- <i class="far fa-heart"></i> --></div>
                            </div>
                            <div class="producto-imagen">
                                <img src= <%= product.image%>>
                            </div>
                            <div class="producto-footer">
                                <div class="producto-titulo">
                                    <p class="producto-detalle"> <%= product.description%>
                                    <span class="producto-presentacion"> x <%= product.display%></span>
                                    </p>
                                </div>
                                <div class="producto-precios">
                                    <span class="precio-nuestro"> <%= product.price%>
                                    <span class="precio-competencia"> <%= product.oldPrice%> </span><!-- Cambiar a descuento -->
                                    </span>
                                </div>
                                <div id="botonera">
                                    <div id="botones-superiorSKU=<%= product.id%>" class="ocultar">
                                        <button onclick="addSubtractRemoveQuantity(<%= product.id%>,'subtract')" id="subtractOneSku=<%= product.id%>" class="boton-sumarrestar ">-</button >
                                        <span id="quantitySku=<%= product.id%>" class="quantityProduct">0</span>
                                        <button onclick="addSubtractRemoveQuantity(<%= product.id%>,'add')" id="addOneSku=<%= product.id%>" class="boton-sumarrestar ">+</button >
                                    </div>
                                    <div id="botones-inferiorSKU=<%= product.id%>" class="mostrar" >
                                        <div onclick="addSubtractRemoveQuantity(<%= product.id%>,'create')" id="addCartSku=<%= product.id%>" class="boton-agregar">Agregar</div >
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <% });%>
                </div>
            </div>
            <% });%>
        </div>
    </div>
</body>
</html>